.Song {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    align-items: center;
}

.Song:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.Title {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    font-size:0.8rem;
    color: rgb(196, 191, 191);
    flex: 0.4;
    overflow: hidden;
}

.Title img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.Index
{
    color: white;
    margin-left: 5px;
    text-align: center;
    width: 5%;
}
.Date,.Duration
{
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
}
.Album , .Duration , .Date
{
    font-weight:500;
    font-size: 0.9rem;
}
.Album
{
    flex: 0.2;
    display: flex;
    justify-content: start;
}