.Navbar
{
    padding: 0px;
}
.Part1 .Icon
{
    background-color: black;
    color: white;
    margin: 5px;
    font-size:xx-large;
    border-radius: 50%;
    text-align: center;
}
.Part2
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 0px 10px 0px 1px;
    border-radius: 20px;
}
.Part2 img
{
    height: 40px;
    width: 40px;
    object-fit:cover;
    border-radius: 50%;
    margin-right: 10px;
}
.Part2 p
{
    margin-bottom: 0px;
}